window {
margin: 5px;
background-color: black;
}

#input {
margin: 5px;
background-color: black;
color: white;
}

#inner-box {
margin: 5px;
}

#outer-box {
margin: 5px;
}

#scroll {
margin: 5px;
}

#text {
margin: 5px;
} 

#entry:selected {
background-color: white;
color: black;
}

#text:selected {
color: black;
} 
